body {
    margin: 0;
    padding: 0;
    color: #000000;
}

a {
    color: #3399CC;
}

#header {
    background-color: honeydew;
    padding: 20px;
    border-bottom: 3px solid #CCCCCC;
}

#header1 {
    margin: 0;
}

#header1 a {
    color: #000000;
    text-decoration: none;
}

#header h1 a:hover {
    background-color: #BBBBBB;
}

#nav {
    margin: 0 30px;
}

#main {
    margin: 10px ;
    background-color: transparent;
}

#main h2 {
    margin: 0;
}


}

ul.error_list {
    border: 1px solid #FFFFFF;
    background-color: #FFCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
}

ul.error_list li {
    color: #FF0000;
}